# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- Data Science tools
- Examples of arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
hours

3.3333333333333335

## Author
Partho Sarothi Das